@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    justify-content: center;
    align-items: center;
    color: #fff;
}



/*____ Header ____*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 90%;
    height: 8rem;
}

.header img{
    width: 230px;
}

.header .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.header .header-menu a {
    margin-right: 25px;
    color: #fff;
    font-size: 17px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    transition: .4s;
}

.header .header-menu a:hover{
    color: #00E7EF;
}


/*____ Main ____*/
.main{
    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main::after{
    content: '';
    background: #181818;
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .1;
    background: url(/Locksmith-Pro/img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

#passwordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    width: 70%;
    height: auto;
    padding: 5rem;
    border: 2px solid #00E7EF;
    border-radius: 20px;
    font-family: Poppies, sans-serif;
    box-shadow: 0 0 20px rgba(0, 231, 239, 1);
    grid-gap: 40px;
}

#passwordForm .choices {
    display: flex;
    justify-content: space-around;
    width: 95%;
    font-size: 18px;
    font-weight: 300;
}

#passwordForm .length {
    font-size: 22px;
}

.button {
    width: 14rem;
    height: 3rem;
    background-color: #00E7EF;
    color: #181818;
    font-family: Poppies, sans-serif;
    font-weight: 500;
    overflow: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover{
    border: 1.5px solid #00E7EF;
    color: #00E7EF;
    background-color: #181818;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 2px #00E7EF solid;
    border-radius: 20px;
    padding: 2rem;
}

h1{
    font-family: Poppies, sans-serif;
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-family: Poppies, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

p{
    font-family: Poppies, sans-serif;
    font-weight: 400;
    font-size: 30px;
}

/*____ Footer ____*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 90%;
}

.footer #logo{
    width: 250px;
    cursor: pointer;
}

.footer-menu{
    display: flex;
    justify-content: start;
    align-items: start;
    grid-row: 20px;
    width: 60%;
}

.footer-menu .links {
    width: 100%;
    font-size: 18px;
    color: #00E7EF;
    font-weight: 600;
    font-family: Poppies, sans-serif;
}


.footer-menu .info{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
}

.footer .footer-menu .links .info a {
    margin-right: 25px;
    color: #fff;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    text-decoration: none;
    transition: .4s;
    margin: 10px 0;
}

.footer .footer-menu .links .info a:hover{
    color: #00E7EF;
}

.copyright{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.copyright p {
    font-size: 16px;
    font-family: Poppies, sans-serif;
    font-weight: 300;
}

.copyright p a {
    color: #00E7EF;
    text-decoration: none;
    transition: .4s;
}

.copyright p a:hover{
    color: #fff;
}