@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*____ Header ____*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 90%;
}

.header img{
    width: 230px;
}

.header .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.header .header-menu a {
    margin-right: 25px;
    color: #fff;
    font-size: 17px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    transition: .4s;
}

.header .header-menu a:hover{
    color: #00E7EF;
}


/*____ Main ____*/
#passwordForm {
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 70%;
    height: auto;
    padding: 5rem;
    border: 2px solid orangered;
    border-radius: 20px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 2px orangered solid;
    border-radius: 20px;
    padding: 2rem;
}


/*____ Footer ____*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border: solid 2px orangered;
}

.footer #logo{
    width: 250px;
    cursor: pointer;
}

.footer-menu{
    display: flex;
    justify-content: start;
    align-items: start;
    grid-row: 20px;
    width: 60%;
}

.footer-menu .info{
    display: flex;
    flex-direction: column;

}