{% extends "base.html" %}

{% block content %}

    <!-- MAIN -->
    <section class="main">
        <h1>Contact Us</h1>
        <p class="description">We value your feedback and are here to assist you with any questions or concerns<br>
             you may have. Please fill out the form below, and a member of our team will<br>
             get back to you as soon as possible.</p>
        <div class="form-cont">
            <form action="/submit-contact-form" method="POST" >
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>

{% endblock content %}