{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Welcome <span style="color: #00E7EF;">{{user.name}}</span> to your dashboard</h2>
    <p><strong style="color: #00E7EF;" >Name: </strong> {{user.name }}</p>
    <p><strong style="color: #00E7EF;" >Email: </strong> {{user.email }}</p>
    
    <table>
        <thead>
            <tr>
                <th>Password Name</th>
                <th>Associated Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for save in saves %}
            <tr>
                <td onclick="copy(this)">{{ save.password_name }}</td>
                <td onclick="copy(this)">{{ save.password_email }}</td>
                <td onclick="copy(this)">{{ save.password }}</td>
                <td id="u-d-btn">
                    <a href="/update/{{ save.id }}" id="update-btn" >Update</a>
                    <a href="/delete/{{ save.id }}" id="delete-btn" >Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
