{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Welcome <span style="color: #00E7EF;">{{user.name}}</span> to your dashboard</h2>
    <p><strong style="color: #00E7EF;" >Name: </strong> {{user.name }}</p>
    <p><strong style="color: #00E7EF;" >Email: </strong> {{user.email }}</p>
    
    {% if saves|length < 1 %}
        <p><strong style="color: red; text-align:center;" >There's no password saved!</strong></p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Password Name</th>
                    <th>Associated Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for save in saves %}
                <tr>
                    <td onclick="copy(this)" >{{ save.password_name }}</td>
                    <td onclick="copy(this)" >{{ save.password_email }}</td>
                    <td onclick="copy(this)" >{{ save.password }}</td>
                    <td id="u-d-btn">
                        <a href="/update/{{ save.id }}"><button>Update</button></a>
                        <form action="{{ url_for('delete', id=save.id) }}" method="POST">
                            <button type="submit" id="delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

{% endblock content %}
