
{% extends 'base.html' %}

{% block content %}

<div class="form-login">
    <h2>Login form</h2>
    <form action="/login" method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter email" name="email">
               
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" placeholder="Enter password" name="password">

        <button type="submit" id="submit-bt">Submit</button>
        <a href="/register" id="login-registed">Register</a>
    </form>
</div>

{% endblock content %}

