{% extends 'base.html' %}

{% block content %}

<h1>Save Your Password</h1>

<form action="/save" method="POST">
    <label for="Name">Name:</label>
    <input type="text" id="name" placeholder="Enter name" name="name">

    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter email" name="email">
               
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" placeholder="Enter password" name="password">

    <button type="submit">Update Password</button>
</form>

{% endblock content %}